@charset "UTF-8";
/* CSS Document */

html{
    scroll-behavior: smooth;
}


/** Background **/
body {	margin: 0; 
height: 2095px;
width: 1440px;
background-color: #707070;
float: left;
}
/**Fix this to individual page dimentions**/
.image_Overlay{ 
    height: 2045px;
    width: 1440px;
    float: left;
}


 /** background images for individual pages 
 IMPORTANT REDOWNLOAD BACKGROUNDS AS TRANSPARENT PNGS!!!! **/
.index_bg{
    height: 2045px;
    width: 1440px;
    background-image: url(/images/DSR_Home_Background.png);
}
.cultural{
    background-image: url(/images/Cultural_Background.jpg);

}
.meet{
    background-image: url(/images/Meet_Us_Background.jpg);

}
.moma{
    background-image: url(/images/MOMA_Background.jpg);

}
.news{
    background-image: url(/images/News_Background.jpg);

}


.blue_Shader{
    height: 2045px;
    width: 1440px;
    background-color: #477BC339;
    float: left;
}



/** INDEX BODY STUFF**/

.studio_text{
    width: 1320px;
    height: 369px;
    color: white;
    font-family: "Alegreya Sans", sans-serif;
    text-align: center;
    font-size: 29px;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;
    float: left;
}
#projects{
    float: left;
    height: 10px;
    width: 10px;
    margin-top: -160px;
}
.project_Header{
    width: 1440px;
    height: 68px;
    font-family: "Alegreya Sans SC", sans-serif;
    color: white;
    float: left;
    text-align: center;
    font-size: 96px;
    margin-top: 0px;
}

.project_Break_Line{
    width: 1368px;
    height: 7px;
    background-color: white;
    margin-left: 36px;
    margin-right: 36px;
    float: left;
    
}

.container_Thing_Left{ /** I literally just used google to find this solution**/
position: absolute;
width: 360px;
height: 360px;
background-color: #ffffff90;
float: left;
z-index: 0;
position: relative;
margin-left: 80px;
margin-right: 50px;
margin-bottom: 50px;
}
.container_Thing_Middle{ /** I literally just used google to find this solution**/
position: absolute;
width: 360px;
height: 360px;
background-color: #ffffff90;
float: left;
z-index: 0;
position: relative;
margin-left: 50px;
margin-right: 50px;
margin-bottom: 50px;
}
.container_Thing_Right{ /** I literally just used google to find this solution**/
position: absolute;
width: 360px;
height: 360px;
background-color: #ffffff90;
float: left;
z-index: 0;
position: relative;
margin-left: 50px;
margin-right: 50px;
margin-bottom: 100px;
}

.blue_Square_Shade{
    height: 100%;
    width: 100%;
    background-color: #477BC360;
    float: left;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    position: absolute;
    text-align: center;
    line-height: 360px;
    color: white;
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 55px;
    justify-content: center;
    transition: all .5s;
    text-decoration: none;
}
.blue_Square_Shade:hover{
    transition: all .5s;
    background-color: #00398A00;

}

.project_Square_One{
width: 100%;
height: 100%;
background-image: url(/images/Project_Cultural.jpg);
background-size: cover;
float: left;
}
.project_Square_Two {
width: 100%;
height: 100%;
background-image: url(/images/Project_Public_Space.jpg);
background-size: cover;
float: left;
}
.project_Square_Three {
width: 100%;
height: 100%;
background-image: url(/images/Project_Education.jpg);
background-size: cover;
float: left;
}
.project_Square_Four {
width: 100%;
height: 100%;
background-image: url(/images/Project_Residential.jpg);
background-size: cover;
float: left;
}
.project_Square_Five {
width: 100%;
height: 100%;
background-image: url(/images/Project_Commercial.jpeg);
background-size: cover;
float: left;
}
.project_Square_Six {
width: 100%;
height: 100%;
background-image: url(/images/Project_Installation.jpg);
background-size: cover;
float: left;
}
.project_Square_Seven {
width: 100%;
height: 100%;
background-image: url(/images/Project_Display.jpg);
background-size: cover;
float: left;
}
.project_Square_Eight {
width: 100%;
height: 100%;
background-image: url(/images/Project_Performance.jpg);
background-size: cover;
float: left;
}
.project_Square_Nine {
width: 100%;
height: 100%;
background-image: url(/images/Project_Publications.jpg);
background-size: cover;
float: left;
}





/** HEADER **/
header{
    background-color: #0E439F;
    width: 1440px;
    height: 420px;
    color: white;
    font-family: "Alegreya Sans SC", sans-serif;
    float: left;

}
.head_logo{
    width: 278px;
    height: 400px;
    background-image: url(/images/DSR_Logo_White.png);
    background-size:contain;
    margin-left: 61px;
    margin-top: 20px;
    float: left;

}
.head_text{
    width: 955px;
    height: 421px;
    font-size: 145px;
    float: left;
    margin-left: 62px;
}

/** NAV **/

nav {
width: 1440px;
height: 157px;
text-align: center;
background: rgb(0, 0, 0, .7);
float: left;
position: sticky;
top: 0;
}

.nav_links{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 96px;
    text-align: center;
    line-height: 157px;
    margin: 20px;
}

.nav_links:hover{
    color: rgb(222, 205, 23);
}



/** FOOTER **/
footer{
width: 1440px;
height: 385px;
background-color: #313131;
color: white;
float: left;
}


.foot_Header{
    width: 1440px;
    height: 90px;
    font-family: "Alegreya Sans SC", sans-serif;
    float: left;
    font-size: 70px;
    text-align: center;
    margin-top: 0px; 

}
.clear{
    clear: both;
}
.dsr_Contact_Info{
    margin-top: -3px;
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 40px;
    float: left;
    clear: both;
    margin-left: 137px;

}

.dsr_Contact_Info_Two{
    margin-top: -298px;
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 40px;
    float: left;
    clear: both;
    margin-left: 826px;

}

.sub{
    font-family: "Alegreya Sans", sans-serif;
    margin-top: -40px;
    font-size: 30px;
    float: left;
}

.sub2{
        font-family: "Alegreya Sans", sans-serif;
    margin-top: -251px;
    font-size: 30px;
    float: left;
}

.dsr_Contact_Info_Three{
    margin-top: -180px;
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 40px;
    float: left;
    clear: both;
    margin-left: 826px;

}

.sub3{
    font-family: "Alegreya Sans", sans-serif;
    margin-top: -133px;
    font-size: 30px;
    float: left;
}