@charset "UTF-8";
/* CSS Document */

html{
    scroll-behavior: smooth;
}


/** Background **/
body {	margin: 0; 
height: 2295px;
width: 1440px;
background-color: #707070;
float: left;
}

.image_Overlay{
    height: 2295px;
    width: 1440px;
    background-image: url(/images/DSR_Home_Background.png);
    float: left;
}

.blue_Shader{
    height: 2295px;
    width: 1440px;
    background-color: #477BC3;
    z-index: 1;
    float: left;
    opacity: .39;
}

/** HEADER **/
header{
    background-color: #0E439F;
    width: 1440px;
    height: 420px;
    color: white;
    font-family: "Alegreya Sans SC", sans-serif;
    float: left;

}
.head_logo{
    width: 278px;
    height: 400px;
    background-image: url(/images/DSR_Logo_White.png);
    background-size:contain;
    margin-left: 61px;
    margin-top: 20px;
    float: left;

}
.head_text{
    width: 955px;
    height: 421px;
    font-size: 145px;
    float: left;
    margin-left: 62px;
}

/** NAV **/

nav {
width: 1440px;
height: 157px;
text-align: center;
background: rgb(0, 0, 0, .7);
float: left;
position: sticky;
top: 0;
z-index: 1;

}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 96px;
    text-align: center;
    line-height: 157px;
    margin: 20px;
}

a:hover{
    color: rgb(222, 205, 23);
}





/** FOOTER **/
footer{
width: 1440px;
height: 385px;
background-color: #313131;
color: white;
float: left;
text-align: center;
}

.foot_Header{
    width: 1440px;
    font-family: "Alegreya Sans SC", sans-serif;
    float: left;
    font-size: 70px;
    text-align: center;
    margin-top: 0px;
}