@charset "UTF-8";
/* CSS Document */

html{
    scroll-behavior: smooth;
}


/** Background **/
body {	margin: 0; 
height: 2295px;
width: 1440px;
background-color: #707070;
float: left;
}
/**Fix this to individual page dimentions**/
.image_Overlay{ 
    height: 2295px;
    width: 1440px;
    float: left;
}


 /** background images for individual pages **/
.index_bg{
    height: 2295px;
    width: 1440px;
    background-image: url(/images/DSR_Home_Background.png);
}
.cultural{
    background-image: url(/images/Cultural_Background.jpg);

}
.meet{
    background-image: url(/images/Meet_Us_Background.jpg);

}
.moma{
    background-image: url(/images/MOMA_Background.jpg);

}
.news{
    background-image: url(/images/News_Background.jpg);

}


.blue_Shader{
    height: 2295px;
    width: 1440px;
    background-color: #477BC339;
    float: left;
}


/** The important Body stuffs**/

.studio_text{
    width: 1320px;
    height: 369px;
    color: rgb(255, 255, 255);
    font-family: "Alegreya Sans", sans-serif;
    text-align: center;
    font-size: 29px;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;
    float: left;
}








/** HEADER **/
header{
    background-color: #0E439F;
    width: 1440px;
    height: 420px;
    color: white;
    font-family: "Alegreya Sans SC", sans-serif;
    float: left;

}
.head_logo{
    width: 278px;
    height: 400px;
    background-image: url(/images/DSR_Logo_White.png);
    background-size:contain;
    margin-left: 61px;
    margin-top: 20px;
    float: left;

}
.head_text{
    width: 955px;
    height: 421px;
    font-size: 145px;
    float: left;
    margin-left: 62px;
}

/** NAV **/

nav {
width: 1440px;
height: 157px;
text-align: center;
background: rgb(0, 0, 0, .7);
float: left;
position: sticky;
top: 0;
z-index: 1;

}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 96px;
    text-align: center;
    line-height: 157px;
    margin: 20px;
}

a:hover{
    color: rgb(222, 205, 23);
}





/** FOOTER **/
footer{
width: 1440px;
height: 385px;
background-color: #313131;
color: white;
float: left;
}


.foot_Header{
    width: 1440px;
    height: 90px;
    font-family: "Alegreya Sans SC", sans-serif;
    float: left;
    font-size: 70px;
    text-align: center;
    margin-top: 0px; 

}
.clear{
    clear: both;
}
.dsr_Contact_Info{
    margin-top: -3px;
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 40px;
    float: left;
    clear: both;
    margin-left: 137px;

}

.dsr_Contact_Info_Two{
    margin-top: -298px;
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 40px;
    float: left;
    clear: both;
    margin-left: 826px;

}

.sub{
    font-family: "Alegreya Sans", sans-serif;
    margin-top: -40px;
    font-size: 30px;
    float: left;
}

.sub2{
        font-family: "Alegreya Sans", sans-serif;
    margin-top: -251px;
    font-size: 30px;
    float: left;
}

.dsr_Contact_Info_Three{
    margin-top: -180px;
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 40px;
    float: left;
    clear: both;
    margin-left: 826px;

}

.sub3{
    font-family: "Alegreya Sans", sans-serif;
    margin-top: -133px;
    font-size: 30px;
    float: left;
}